@charset "UTF-8";
/* CSS Document */

.background {
	color: darkolivegreen;
}

.nav {
		position: absolute;
		top: 50px;
		left: 10px;
		margin: 0;
		padding: 0;
		width: 100%;
		height: 80px;
		border-bottom: 1px solid rgba(255,255,255,0.5);
}

.menu {
	float: right;
	line-height: 40px;
	margin: 0 3em;
}

.menu ul {
	list-style: none;
}

.menu ul li {
	display: inline-block;
}

.menu ul li a {
	text-decoration: none;
	color:  #000000;
	font-size: 16px;
	font-weight: lighter;
	padding: 0 20px;
}

.menu ul li:hover {
	text-decoration: none;
	color: aliceblue;
	background-color: darkkhaki;
}

ul li:nth-child(1) {
	color: white;
	border: 1px solid darkolivegreen;
	padding: 1px 1px;
	border-radius: 2px;		
}

ul li:nth-child(2) {
	color: white;
	border: 1px solid darkolivegreen;
	padding: 1px 1px;
	border-radius: 2px;		
}

ul li:nth-child(3) {
	color: white;
	border: 1px solid darkolivegreen;
	padding: 1px 1px;
	border-radius: 2px;		
}

ul li:nth-child(4) {
	color: white;
	border: 1px solid darkolivegreen;
	padding: 1px 1px;
	border-radius: 2px;		
}

ul li:nth-child(5) {
	color: white;
	border: 1px solid darkolivegreen;
	padding: 1px 1px;
	border-radius: 2px;		
}

ul li:nth-child(6) {
	color: white;
	border: 1px solid darkolivegreen;
	padding: 1px 1px;
	border-radius: 2px;		
}

.header h1 {
	position: absolute;
	top: 50px;
	left: 150px;
	font-family: 'Merienda', cursive;
}

.header {
	z-index: -1;
}
.img h1 {
	font-size: 75px;
	color: white;
	text-shadow: 1px 1px #000000;
	position: absolute;
	top: 150px;
	left: 300px;
}

.img h2 {
	font-size: 35px;
	color: white;
	text-shadow: 1px 1px #000000;
	position: absolute;
	top: 275px;
	left: 700px;
}

.img button {
	color: white;
  background: burlywood;
  padding: 10px 25px;
  border: none;
  font-size: 14px;
  margin-top: 40px;
  cursor: pointer;
	position: absolute;
	top: 310px;
	left: 850px;
}

.img button:hover {
	background-color: darkolivegreen;
}

.img h3 {
	position: absolute;
	top: -60px;
	left: 55px;
}

.img1 video {
	border: 1px solid #ddd;
  	border-radius: 4px;
  	padding: 10px;
 	width: 400px;
	position: absolute;
	top: 5px;
	left: 300px;
}

.img1 h4 {
	position: absolute;
	top: -70px;
	left: 480px;
}
.img {
	position: absolute;
	top: 200px;
	left: 30px;
}

.img1 {
	border: 1px solid #ddd;
  	border-radius: 4px;
  	padding: 10px;
 	width: 200px;
	position: absolute;
	top: 800px;
	left: 250px;
}

.gradient h5 {
	font-size: 35px;
	color: white;
	text-shadow: 1px 1px #000000;
	position: absolute;
	top: -50px;
	left: 425px;
}
.gradient {
	position: absolute;
	top: 1100px;
}

.image {
	border: 1px solid #ddd;
  	border-radius: 4px;
  	padding: 10px;
 	width: 250px;
	position: absolute;
	top: 1175px;
	left: 70px;
}

.image1 {
	border: 1px solid #ddd;
  	border-radius: 4px;
  	padding: 10px;
 	width: 250px;
	position: absolute;
	top: 1175px;
	left: 470px;
}

.image2 {
	border: 1px solid #ddd;
  	border-radius: 4px;
  	padding: 10px;
 	width: 250px;
	position: absolute;
	top: 1175px;
	left: 870px;
}

.image3 {
	border: 1px solid #ddd;
  	border-radius: 4px;
  	padding: 10px;
 	width: 250px;
	position: absolute;
	top: 1475px;
	left: 70px;
}

.image4 {
	border: 1px solid #ddd;
  	border-radius: 4px;
  	padding: 10px;
 	width: 250px;
	position: absolute;
	top: 1475px;
	left: 470px;
}

.image5 {
	border: 1px solid #ddd;
  	border-radius: 4px;
  	padding: 10px;
 	width: 250px;
	position: absolute;
	top: 1475px;
	left: 870px;
}

footer {
	position: absolute;
	top: 1970px;
	left: 35px;
	border: 1px solid #ddd;
  	border-radius: 4px;
}