@charset "UTF-8";
/* CSS Document */

.background {
	color: darkolivegreen;
}

.nav {
		position: absolute;
		top: 50px;
		left: 10px;
		margin: 0;
		padding: 0;
		width: 100%;
		height: 80px;
		border-bottom: 1px solid rgba(255,255,255,0.5);
}

.menu {
	float: right;
	line-height: 40px;
	margin: 0 3em;
}

.menu ul {
	list-style: none;
}

.menu ul li {
	display: inline-block;
}

.menu ul li a {
	text-decoration: none;
	color:  #000000;
	font-size: 16px;
	font-weight: lighter;
	padding: 0 20px;
}

.menu ul li:hover {
	text-decoration: none;
	color: aliceblue;
	background-color: darkkhaki;
}

ul li:nth-child(1) {
	color: white;
	border: 1px solid darkolivegreen;
	padding: 1px 1px;
	border-radius: 2px;		
}

ul li:nth-child(2) {
	color: white;
	border: 1px solid darkolivegreen;
	padding: 1px 1px;
	border-radius: 2px;		
}

ul li:nth-child(3) {
	color: white;
	border: 1px solid darkolivegreen;
	padding: 1px 1px;
	border-radius: 2px;		
}

ul li:nth-child(4) {
	color: white;
	border: 1px solid darkolivegreen;
	padding: 1px 1px;
	border-radius: 2px;		
}

ul li:nth-child(5) {
	color: white;
	border: 1px solid darkolivegreen;
	padding: 1px 1px;
	border-radius: 2px;		
}

ul li:nth-child(6) {
	color: white;
	border: 1px solid darkolivegreen;
	padding: 1px 1px;
	border-radius: 2px;		
}

.header h1 {
	position: absolute;
	top: 50px;
	left: 150px;
	font-family: 'Merienda', cursive;
}

.header {
	z-index: -1;
}

.img {
	border: 1px solid #ddd;
  	border-radius: 4px;
  	padding: 10px;
 	width: 450px;
	position: absolute;
	top: 250px;
	left: 100px;
}

.text {
	font-size: 10px;
	position: absolute;
	top: 300px;
	left: 650px;
}

.text button {
	color: white;
  background: burlywood;
  padding: 10px 25px;
  border: none;
  font-size: 14px;
  margin-top: 40px;
  cursor: pointer;
	position: absolute;
	top: 225px;
	left: -5px;
}

.text button:hover {
	background-color: darkolivegreen;
}

.signature {
	position: absolute;
	top: 550px;
	left: 850px;
}

footer {
	position: absolute;
	top: 1150px;
	left: 35px;
	border: 1px solid #ddd;
  	border-radius: 4px;
}